* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

html {
   /* variaveis */
   --bg-color: #edf2ff;
   --text-color: #00082f;
   --primary-color: #4263eb;
   --primary-color-dark: #364fc7;
}

body.dark-blue {
   --bg-color: #00082f;
   --text-color: #ffffff;
}

body.pink {
   --bg-color: #fff0f6;
   --text-color: #1f000b;
   --primary-color: #d6336c;
   --primary-color-dark: #a61e4d;
}

body.dark-pink {
   --bg-color: #1f000b;
   --text-color: #fff0f6;
   --primary-color: #a61e4d;
   --primary-color-dark: #d6336c;
}

body.gradient {
   --bg-color: linear-gradient(#060042,#20a39e);   
   --text-color: #ffffff;
   --primary-color: #20a39e;
   --primary-color-dark: #1b807c;   
}

body {
   background: var(--bg-color); 
   color: var(--text-color);
   font-family: 'Roboto', sans-serif;
   display: flex;
}

.container {
   text-align: center;
   width: 300px;
   margin: 60px auto;
}

img {
   width: 100%;
}

img.avatar {
   border-radius: 50%;
   width: 100px;
   height: 100px;
   padding: 3.7px;
   border: var(--primary-color) solid 4px;
}

h1 {
   font-size: 32px;
   margin-top: 24px;
   margin-bottom: 8px;
}

.username {
   font-family: 'Roboto Mono', monospace;
   font-weight: 400;
   opacity: 0.8;
   font-size: 18px;
}

.icon {
   width: 25px;
   text-align: left;
   display: flex;
}

ul {
   list-style: none;
   margin: 48px 0;
}

ul li a {
   text-indent: 1em;
   height: 53px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--primary-color);
   color: white;
   text-transform: uppercase;
   font-size: 14px;

   margin-bottom: 16px;
   border-radius: 6px;

   transition: background 400ms;
}
/* sudoclas - pseudo-class 
o hover significa que quando passar o mouse em cima ele vai fazer alguma alteração*/
ul li a:hover {
   background: var(--primary-color-dark);
}

footer {
   font-weight: 500;
   font-size: 12px;
   opacity: 0.6;
   transition: opacity 400ms;
}

footer:hover {
   opacity: 1;
}

footer a {
   color: var(--text-color);
}
